$modra: #cbeaef;
$svetla-ruzova: #fce8e4;
$tmava-ruzova: #fcb8af;
$bezova: #a49d84;
$seda: #9d9d9d;
$bila: #f2f4f0;
$tmava-seda: #454545;

$font-base: "Archivo Narrow", sans-serif;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-base;
  line-height: 1.65;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: $tmava-seda;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  margin-right: 30px;
  text-align: left;
}

.menu {
  font-size: 16px;
}

.menu__list {
  padding: 0 20px;
  display: flex;
  list-style: none;
  background: transparent;
}

.menu__link {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: $seda;
}

.menu__link:hover,
.menu__link:focus {
  background-color: white;
  color: $tmava-seda;
}

/* ------ SEKCE - HOME --------- */

.hero {
  background-image: url(/images/cover.png);
  background-size: 100%;
  margin-top: 0;
  height: 400px;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
}

/* ------ SEKCE - HOME ( o salonu Natura ) --------- */

.dva-sloupce {
  display: flex;
  justify-content: center;
}

.obsah-sekce {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.nadpis-natura {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #454545;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0;
}

p {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.natura-foto {
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  background-size: cover;
  width: 550px;
  height: 500px;
}

/* ------ SEKCE - KOSMETIKA --------- */

.pagecontent--kosmetika {
  max-width: 680px;
  margin: 35px auto;
}

.image--list {
  display: block;
  margin: 0 auto;
  height: 70px;
}

.kontakt--katka {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kosmetika--describe1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kosmetika--describe2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kosmetika--describe3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kosmetika--describe4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.image--farel {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
}

.mezoterapie {
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  margin-bottom: 1.6em;
}

.cenik--osetreni1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni5 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni6 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--osetreni7 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--liceni {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--lampa {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.depilace {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--depi1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - MASAZE --------- */

.pagecontent--masaze {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--alena {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.masaz {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.image--masaze {
  width: 420px;
  height: 170px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
}

.cenik--masaz1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--masaz2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--masaz3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--masaz4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pripravky {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - PEDIKURA --------- */

.pagecontent--pedikura {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--monika {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pedikura--popis1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura--popis2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura--popis3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura--popis4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura--popis5 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-4 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--cervena {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ruce {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ruzova {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.cenik--pedikura1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura5 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura6 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura7 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura8 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--pedikura9 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura-zaver1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura-zaver2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura-zaver3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikra-zaver3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - KADEŘNICTVÍ --------- */

.pagecontent--kadernictvi {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--vendula {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kontakt--kristyna {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kontakt--michaela {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kadernictvi--describe1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--kadernictvi1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-5 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--balayage {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--melir {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ombre {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.kontejner-6 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--barevne {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--konce {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--zrzave {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

/* ------ SEKCE - ŘASY --------- */

.pagecontent--rasy {
  max-width: 680px;
  margin: 35px auto;
}

.rasy--popis1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy--popis2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy--popis3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-7 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--rasy {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--volume {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.rasy-text1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-text2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-text3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-text4 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-zaver1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}
.rasy-zaver2 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-zaver3 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - PATICKA --------- */

.footer {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-top: 0.5px solid $seda;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.nabidka {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nabidka-obsah {
  font-size: 12px;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
}

.image--insta {
  margin-bottom: 5px;
}

.image--facebook {
  margin-bottom: 4px;
}

.image--phone {
  margin-bottom: 10px;
}

.image--mapa:hover {
  background-color: $modra;
  border-radius: 50%;
}

.image--insta:hover {
  background-color: $modra;
  border-radius: 25%;
}

.image--facebook:hover {
  background-color: $modra;
  border-radius: 10%;
}

.image--phone:hover {
  background-color: $modra;
  border-radius: 10%;
}

.end {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: inherit;
  text-align: left;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  padding-top: 40px;
}
