$modra: #cbeaef;
$svetla-ruzova: #fce8e4;
$tmava-ruzova: #fcb8af;
$bezova: #a49d84;
$seda: #9d9d9d;
$bila: #f2f4f0;
$tmava-seda: #454545;

$font-base: "Archivo Narrow", sans-serif;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-base;
  line-height: 1.65;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* ------ SEKCE - MOBILNÍ VERZE --------- */

@media screen and (max-width: 700px) {
  .hero {
    background-image: url(/images/cover.png);
    background-size: 100%;
    max-height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;
  }
  .header {
    display: flex;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__item {
    flex: 1 1 50%;
  }

  .dva-sloupce {
    display: flex;
    flex-wrap: wrap;
  }

  .davines-foto {
    flex: 1 1 50%;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .nabidka {
    flex: 1 1 50%;
  }

  .tlacitko {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tipy-davines {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: $tmava-seda;
    font-size: 15px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .foto-colagen {
    margin-left: auto;
    margin-right: auto;
  }

  .image--farel {
    max-width: 400px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .kontejner-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .image--liceni {
    margin-left: auto;
    margin-right: auto;
  }

  .image--lampa {
    margin-left: auto;
    margin-right: auto;
  }

  .kontejner-4 {
    display: flex;
    flex-wrap: wrap;
  }

  .image--cervena {
    margin-left: auto;
    margin-right: auto;
  }

  .image--ruce {
    margin-left: auto;
    margin-right: auto;
  }

  .image--ruzova {
    margin-left: auto;
    margin-right: auto;
  }

  .kontejner-5 {
    display: flex;
    flex-wrap: wrap;
  }

  .image--balayage {
    margin-left: auto;
    margin-right: auto;
  }

  .image--melir {
    margin-left: auto;
    margin-right: auto;
  }

  .image--ombre {
    margin-left: auto;
    margin-right: auto;
  }

  .kontejner-6 {
    display: flex;
    flex-wrap: wrap;
  }

  .image--barevne {
    margin-left: auto;
    margin-right: auto;
  }

  .image--konce {
    margin-left: auto;
    margin-right: auto;
  }

  .image--zrzave {
    margin-left: auto;
    margin-right: auto;
  }

  .kontejner-7 {
    display: flex;
    flex-wrap: wrap;
  }

  .image--rasy {
    margin-left: auto;
    margin-right: auto;
  }

  .image--volume {
    margin-left: auto;
    margin-right: auto;
  }

  .end {
    display: flex;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: $tmava-seda;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  font-size: 16px;
}

.menu__list {
  padding: 0 20px;
  display: flex;
  list-style: none;
  background: transparent;
}

.menu__link {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: $seda;
  margin-left: 30px;
}

.menu__link:hover,
.menu__link:focus {
  background-color: white;
  color: $tmava-seda;
}

/* ------ SEKCE - HOME --------- */

.hero {
  background-image: url(/images/cover.png);
  background-size: 100%;
  margin-top: 0;
  height: 500px;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
}

/* ------ SEKCE - HOME ( o salonu Natura ) --------- */

.dva-sloupce {
  display: flex;
  justify-content: center;
}

.obsah-sekce {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-uvod {
  font-size: 13px;
  font-weight: inherit;
  text-align: left;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.davines-foto {
  margin-left: 50px;
  border-radius: 5px;
  background-size: cover;
  width: 500px;
  height: 400px;
}

.tlacitko {
  text-align: center;
}

.button {
  background-color: $seda;
  color: white;
  border-radius: 10px;
  padding: 8px 35px;
  text-align: left;
}

a {
  text-decoration: none;
}

.eko-tipy {
  padding-bottom: 10px;
  padding-top: 30px;
}

.dva-boxy {
  display: flex;
  justify-content: space-between;
}

.obsah-boxu {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.foto-box {
  border-radius: 5px;
}

.foto-colagen {
  width: 250px;
  height: 250px;
  margin-top: -20px;
  margin-left: 100px;
}

.kolagen-nadpis {
  padding-top: 0;
  margin-left: 100px;
  padding-bottom: 0;
  color: $modra;
}

.popis-kolagen {
  font-size: 13px;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;

  margin-left: 100px;
}

.tipy-davines {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  color: $tmava-seda;
  font-size: 10px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.seznam {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  color: $tmava-seda;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

/* ------ SEKCE - KOSMETIKA --------- */

.pagecontent--kosmetika {
  max-width: 680px;
  margin: 35px auto;
}

.image--list {
  display: block;
  margin: 0 auto;
  height: 70px;
}

.kontakt--katka {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kosmetika--describe {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.image--farel {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
}

.mezoterapie {
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  margin-bottom: 1.6em;
}

.cenik--osetreni {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--liceni {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--lampa {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.depilace {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--depi1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - MASAZE --------- */

.pagecontent--masaze {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--alena {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.masaz {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.image--masaze {
  width: 420px;
  height: 170px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
}

.cenik--masaz1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pripravky {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - PEDIKURA --------- */

.pagecontent--pedikura {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--monika {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pedikura--popis1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-4 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--cervena {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ruce {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ruzova {
  width: 200px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.cenik--pedikura {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.pedikura-zaver {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - KADEŘNICTVÍ --------- */

.pagecontent--kadernictvi {
  max-width: 680px;
  margin: 35px auto;
}

.kontakt--vendula {
  padding-top: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kontakt--kristyna {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kontakt--michaela {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $bezova;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.kadernictvi--describe {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.cenik--kadernictvi1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-5 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--balayage {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--melir {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--ombre {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.kontejner-6 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--barevne {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--konce {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--zrzave {
  width: 200px;
  height: 250px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

/* ------ SEKCE - ŘASY --------- */

.pagecontent--rasy {
  max-width: 680px;
  margin: 35px auto;
}

.rasy--popis {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.kontejner-7 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.image--rasy {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.image--volume {
  width: 300px;
  height: 200px;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  background-size: cover;
}

.rasy-text {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

.rasy-zaver {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
}

/* ------ SEKCE - PATICKA --------- */

.footer {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-top: 0.5px solid #e2dcd7;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.nabidka {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nabidka-obsah {
  font-size: 12px;
  font-weight: inherit;
  text-align: center;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
}

.image--insta {
  margin-bottom: 5px;
}

.image--facebook {
  margin-bottom: 4px;
}

.image--phone {
  margin-bottom: 10px;
}

.image--mapa:hover {
  background-color: $modra;
  border-radius: 50%;
}

.image--insta:hover {
  background-color: $modra;
  border-radius: 25%;
}

.image--facebook:hover {
  background-color: $modra;
  border-radius: 10%;
}

.image--phone:hover {
  background-color: $modra;
  border-radius: 10%;
}

.end {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: inherit;
  text-align: left;
  color: $tmava-seda;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 1.6em;
  padding-top: 40px;
}
