<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 


	<!-- Náš vlastní styl -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<header class="header">
		<div class="header__logo">
		<img class="logo" src="/images/list1.png" alt="logo Natura">
	
		</div>


	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">Home</a></li>
			<li class="menu__item"><a href="/kosmetika/" class="menu__link">Kosmetika</a></li>
			<li class="menu__item"><a href="/masaze/" class="menu__link">Masáže</a></li>
			<li class="menu__item"><a href="/pedikura/" class="menu__link">Pedikůra</a></li>
			<li class="menu__item"><a href="/kadernictvi/" class="menu__link">Kadeřnictví</a></li>
			<li class="menu__item"><a href="/prodluzovaniras/" class="menu__link">Prodlužování řas</a></li>
		</ul>
	</nav>

	</header>

	<main class="main">

{{ content | safe }}

    </main>


	<footer class="footer">
	 Natura Salon Krásy, &copy;2021
	</footer>

</body>
</html>