<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 


	<!-- Náš vlastní styl -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>


<section class="hero">


</section>

<header class="header">
		
	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">Home</a></li>
			<li class="menu__item"><a href="/kosmetika/" class="menu__link">Kosmetika</a></li>
			<li class="menu__item"><a href="/masaze/" class="menu__link">Masáže</a></li>
			<li class="menu__item"><a href="/pedikura/" class="menu__link">Pedikůra</a></li>
			<li class="menu__item"><a href="/kadernictvi/" class="menu__link">Kadeřnictví</a></li>
			<li class="menu__item"><a href="/prodluzovaniras/" class="menu__link">Prodlužování řas</a></li>
		</ul>


	</nav>


	</header>

<hr width="1000" size="1" color="#e2dcd7" align="center" noshade> 

	<main class="main">

{{ content | safe }}

    </main>


<footer class="footer">

 <div class="flexbox">

  <div class="nabidka">
  <a href="https://www.instagram.com/natura_salonkrasy/">
  <img class="image--insta" src="/images/insta.png" alt="instagram" />
  </a>
  <div class="nabidka-obsah">
   natura_salonkrasy<br>
   Sledujte nás na našem instagramu</p>
  </div>
</div>


  <div class="nabidka">
  <a href="https://www.facebook.com/naturasalonkrasy/">
  <img class="image--facebook" src="/images/facebook.png" alt="facebook" />
  </a>

  <div class="nabidka-obsah">
   Natura salón<br>
   Napište nám na našem facebooku
  </div>
</div>


<div class="nabidka">
<a href="https://mapy.cz/zakladni?x=15.1482890&y=50.6840156&z=17&source=addr&id=10860149">
<img class="image--mapa" src="/images/mapa.png" alt="mapa" />
</a>
<div class="nabidka-obsah">
Náměstí Míru 167,<br> Rychnov u jablonce nad Nisou 
</div>
</div>


<div class="nabidka">
<a href="#">
<img class="image--phone" src="/images/phone.png" alt="telefon" />
</a>
<div class="nabidka-obsah">
+420 777 020 357<br> 
+420 774 730 078
</div>
</div>

</div>

	<div class="end">&copy; 2021 Natura Salon Krásy</div>
	
</footer>

</body>
</html>